@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply min-h-screen;
  font-family: 'Archivo', sans-serif;
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: #1D283C;
}